<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=DatabaseName;Integrated Security=SSPI;User ID=UserName;Password=Password;" providerName="System.Data.SqlClient" />
  <add name="LANUGEntities" connectionString="metadata=res://*/Models.LANUGModel.csdl|res://*/Models.LANUGModel.ssdl|res://*/Models.LANUGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=DatabaseName;integrated security=True;user id=UserName;password=Password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>