@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p>The Lower Alabama .NET User Group (LANUG) is an independent community of software developers formed to share knowledge and experiences with Microsoft development products and technologies.</p>

<h3>Leadership</h3>

<ul>
    <li>President – Keidrick Pettaway</li>
    <li>Vice President – Vacant</li>
    <li>Membership Director – Vacant</li>
    <li>Marketing Director(s) – Vacant</li>
    <li>Speaker Liaison(s) – Vacant</li>
    <li>Sponsor Liaison – Vacant</li>
    <li>Recruitment Liaison(s) – Chris Yokley, Keidrick Pettaway, Ryan Duclos</li>
</ul>
