@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p>The Lower Alabama .NET User Group (LANUG) is an independent community of software developers formed to share knowledge and experiences with Microsoft development products and technologies.</p>

<h3>Leadership</h3>

<ul>
    <li>President – Ryan Duclos</li>
    <li>Vice President – Chris Yokley</li>
    <li>Membership Director – James VanDyne</li>
    <li>Marketing Director(s) – Alek Massey, Keidrick Pettaway</li>
    <li>Speaker Liaison(s) – Danny Rosales, Jamie Beck</li>
    <li>Sponsor Liaison – Hiro Yoshida</li>
    <li>Recruitment Liaison(s) – Chris Yokley, Keidrick Pettaway, Ryan Duclos</li>
</ul>
