@model IEnumerable<LANUG.Models.Event>

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/fullcalendar/fullcalendar.css" rel="stylesheet" />    
}
@section scripts{
    <script src="~/Content/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Content/fullcalendar/gcal.js"></script>
    <script type="text/javascript">
        var Calendar;
        $(document).ready(function () {
            Calendar = $('#Calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                events: [
                    @{
                    bool first = true;
                    foreach (var item in Model)
                    {
                        if (first) {first = false;}
                        else {<text>,</text>}
                        <text>
                        {
                            title : '@item.Name',
                            start : '@item.StartTime.ToString("yyyy-MM-dd hh:mm:ss tt")',
                            end : '@item.EndTime.ToString("yyyy-MM-dd hh:mm:ss tt")',
                            allDay: false,
                            url: '/Events/@item.Name.Replace(" ", "-").Replace(".", "_")'
                        }
                        </text>                        
                    }
                    }
                ],
                eventClick: function (event) {
                    if (event.url) {
                        window.location = event.url;
                        return false;
                    }
                },
                eventBackgroundColor: '#57654D'
            });
        });
    </script>
}

<h2>Calendar</h2>
<div id="Calendar"></div>