@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/fullcalendar/fullcalendar.css" rel="stylesheet" />    
}
@section scripts{
    <script src="~/Content/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Content/fullcalendar/gcal.js"></script>
    <script type="text/javascript">
        var Calendar;
        $(document).ready(function () {
            Calendar = $('#Calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                }
            });
        });

        function test() {
            $('#Calendar').fullCalendar('addEventSource', [
                {
                    title: 'event1',
                    start: '2013-02-01'
                },
                {
                    title: 'event2',
                    start: '2013-02-05',
                    end: '2010-01-07'
                },
                {
                    title: 'event3',
                    start: '2013-03-02 12:30:00',
                    allDay: false // will make the time show
                }
            ]);
        }
    </script>
}

<h2>Calendar</h2>
<a href="javascript:test();">test</a>
<div id="Calendar"></div>