@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <a href="mailto:loweraldotnet@live.com">loweraldotnet@live.com</a>
</section>
<br />
<br />
<section class="contact">
    <header>
        <h3>Facebook</h3>
    </header>
    <a href="http://www.facebook.com/theLANUG">facebook.com/theLANUG</a>
</section>
<br />
<br />
<section class="contact">
    <header>
        <h3>Google+</h3>
    </header>
    <a href="https://plus.google.com/105681478003197232414">gplus.to/LANUG</a>
</section>