@model IEnumerable<LANUG.Models.Sponsor>

@{
    ViewBag.Title = "Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sponsors.</h1>
<table class="item-table">
@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@item.Website"><img class="sponsor-logo" src="@Url.Content(item.LogoURL)" alt="@item.Name" /></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}
</table>
